<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
        <% if (locals.birds) {%>
            <table>
            <tr>
                <th>Name</th>
                <th>Scientific Name</th>
                <th>Family</th>
                <th>Size (cm)</th>
                <th>Weight (g)</th>
                <th>Wingspan (cm)</th>
                <th>Habitat</th>
                <th>Range</th>
                <th>Migration Pattern</th>
                <th>Diet</th>
                <th>Conservation Status</th>
            </tr>
            <% birds.forEach(bird => { %>
                <tr>
                    <td><%= bird.name %></td>
                    <td><%= bird.scientific_name %></td>
                    <td><a href="/family/<%= bird.family %>"><%= bird.family %></a></td>
                    <td><%= bird.size_cm %></td>
                    <td><%= bird.weight_g %></td>
                    <td><%= bird.wingspan_cm %></td>
                    <td><%= bird.habitat_type %></td>
                    <td><%= bird.range_description %></td>
                    <td><%= bird.migration_pattern %></td>
                    <td><%= bird.diet_type %></td>
                    <td><%= bird.conservation_status %></td>
                </tr>
            <% }); %>
            </table>
        <% } %>
</body>
</html>